// main-page

.inner1{
    display: flex;
  }

.sc-visual{
    margin-right: 22px;
    height: 350px;
    width: 770px;
    position: relative;

    .slide{
      background: #ccc;
      position: absolute;
      width: 690px;
      height: 100%;
      right: 0;

      &.active{
        z-index: 10;

        .link-title{
          background-color: #0158a8;
          color:#fff;
        }
      }

      .title{
        position: absolute;
        top: 0;
        left: -79px;
        width: 80px;
        height: 50%;

/*         &.on::after {
          content: '';
          position: absolute;
          z-index: 10;
          left: 99%;
          top: 50%;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 25px 0 25px 32px;
          border-color: transparent transparent transparent #0158a8;
          margin-top: -25px;
        } */
      }

      .link-title{
        background-color: #d2e1e9;
        padding-top: 50px;
        color: #333;
        text-align: center;
        font-weight: 700;
        display: block;
        height: 100%;
        position: relative;
      }

      .link-title::before{
        content: '';
        background: url(../images/icon/icon_small.png) no-repeat;
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto 10px;
        background-color: #fff;
        border-radius: 50%;
      }

      .link-swiper{
        position: relative;
        display: block;
        
        .text{
          position: absolute;
          left: 0;
          bottom: 0;
          background-color: rgba(0,0,0,.7);
          color:#fff;
          width: 100%;
          height: 40px;
          line-height: 40px;
          padding-left: 10px;
          @include ellipsis;
        }
      }

      &.slide02{
        .title{
          top: 50%;
        }

        .link-title::before{
          background-position: -50px 0px;
        }
      }

      .control-box{
        display: flex;
        position: absolute;
        top: 320px;
        right: 0;
        z-index: 10;
        color: #fff;
        font-size: 13px;
        margin-top: 2px;
  
        a{
          width: 18px;
          height: 18px;
        }
  
        .btn{
          background: url(../images/icon/icon_set_common.png) no-repeat;
          display: inline-block;
          z-index: 1;
          
          &.prev{
            background-position: -241px -285px;
            left: 49px;
          }
  
          &.next{
            background-position: -256px -285px;
            right: 2px;
            margin-right: 5px;
          }
        }
  
        .fraction{
          width: auto;
        }
  
        .btn-play{
          position: relative;

          .btn-stop{
           background: url(../images/icon/icon_set_common.png) no-repeat;
           background-position: -285px -285px;
           display: block;
          }
          
          .btn-start{
            background: url(../images/icon/icon_set_common.png) no-repeat;
            background-position: -269px -285px;
            display: none;
          }
        }
      }
    }
  }

.side-area {
  width: 360px;

  .covid19-area {
    margin-bottom: 7px;
    background: url(../images/bg/bg_corona.gif) no-repeat;
    width: 360px;
    height: 214px;
    position: relative;
  }

  .covid19-link {
    .standard {
      position: absolute;
      top: 10px;
      right: 20px;
      font-size: 12px;
      font-weight: 700;
      margin-left: 25px;
      color: #000;
      letter-spacing: -0.05em;
    }

    .covid-list {
      .covid-item {
        font-size: 18px;
        color: #fff;
        font-weight: 700;
      }
      
      .data{
        position: absolute;
        top: 98px;
        width: 130px;

        &.data01 {
          margin-left: 80px;
        }
  
        &.data02 {
          right: 10px;
        }
      }
    }
  }

  .link-rate {
    .standard {
      position: absolute;
      top: 134px;
      right: 20px;
      font-size: 12px;
      font-weight: 700;
      margin-left: 25px;
      color: #000;
      letter-spacing: -0.05em;
    }

    .rate-list {
      display: flex;
      justify-content: space-around;

      .rate-item {
        font-size: 18px;
        color: #fff;
        font-weight: 700;
      }

      .data{
        position: absolute;
        top: 185px;

        &.data01 {
          margin-left: -15px;
        }
  
        &.data02 {
          margin-left: -24px;
        }
  
        &.data03 {
          margin-left: -30px;
        }
  
        &.data04 {
          margin-left: -32px;
        }
      }
    }
  }

  .banner-img-wrap{
    .banner-img{
      display: block;

      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}



.sc-service{
  padding: 50px 0 0;
  position: relative;
  overflow: hidden;

  .sc-title{
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dbdbdb;
    line-height: 1.35em;
  }

  .service-list{
    width: 100%;
    display: flex;

    .link-service{
      display: block;
      text-align: center;
      font-size: 15px;
      width: 100%;
      height: 100%;

      &::before{
        width: 60px;
        height: 60px;
        margin: 0 auto 10px;
        display: block;
        content: '';
      }

      &.ic-public::before{
        background: url(../images/icon/icon_set_service.png) no-repeat;
        background-position: -360px 0;

      }

      &.ic-answer::before{
        background: url(../images/icon/icon_set_service.png) no-repeat;
        background-position: 0 0;
      }

      &.ic-jop::before{
        background: url(../images/icon/icon_set_service.png) no-repeat;
        background-position: -120px 0;
      }

      &.ic-realestate::before{
        background: url(../images/icon/icon_set_service.png) no-repeat;
        background-position: -300px 0;
      }
      
      &.ic-portal::before{
        background: url(../images/icon/icon_set_service.png) no-repeat;
        background-position: -180px 0;
      }

      &.ic-welfare::before{
        background: url(../images/icon/icon_set_service.png) no-repeat;
        background-position: -960px 0;
      }

      &.ic-house::before{
        background: url(../images/icon/icon_set_service.png) no-repeat;
        background-position: -780px 0;
      }

      &.ic-young::before{
        background: url(../images/icon/icon_set_service.png);
        background-position: -1140px 0;
      }

      &.ic-mediahub::before{
        background: url(../images/icon/icon_set_service.png);
        background-position: -1020px 0;
      }

      &.ic-democracy::before{
        background: url(../images/icon/icon_set_service.png);
        background-position:-60px 0;
      }

      &.ic-council::before{
        background: url(../images/icon/icon_set_service.png);
        background-position: -600px 0;
      }
    }

    .service-item{
      width: 9.09%;
      height: 90px;
      text-align: center;
      display: inline-block;
    }
  }

  .all{
    position: absolute;
    top: 50px;
    right: 0;
    width: 112px;
    height: 29px;
    border: 1px solid #ddd;
    display: block;
    font-size: 15px;
    padding-left: 13px;
    line-height: 28px;
    background: url(../images/icon/icon_link.png) no-repeat right 13px top 50%;
  }
}

.sc-covid19{
  margin-top: 35px;
  background: #eff4f8;

  .common-inner{
    width: 1152px;
    margin: 0 auto;

    .covid19-list{
      display: flex;

      .covid19-item{
        width: 25%;
        padding: 20px 0;
        position: relative;

        +.covid19-item::before{
          content: '';
          position: absolute;
          top: 26px;
          left: 0px;
          width: 1px;
          height: 60px;
          background: #dbdbdb;
        }

        .link-covid19 {
          display: block;
          height: 100%;

          img{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

.inner2{
  padding: 50px 0 50px;
  border-bottom: 2px solid #222222;
  display: flex;

  .sc-title{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #dbdbdb;
    line-height: 1.35em;
  }

  .board-list{
    .board-item{
      padding: 6px 0 6px 0;
      .link-box{
        display: flex;

        span:first-child{
          margin: 0 9px 0 0;
          flex-shrink: 0;
        }

        .environ{color: #599100;}
        .culture{color: #9b64d3;}
        .house{color: #c35c3c;}
        .welfare{color: #d76000;}

        .text{
          @include ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }

  .sc-event{
    position: relative;

    .link-more{
      position: absolute;
      display: inline-block;
      top: 6px;
      right: 0;
      width: 22px;
      height: 20px;
      border: 1px solid #ddd;
      background: url(../images/icon/icon_set.png) no-repeat -1px -1px;
    }
  }

  .sc-festival{
    margin: 0 36px;
    position: relative;
    
    .link-more{
      position: absolute;
      display: inline-block;
      top: 6px;
      right: 0;
      width: 22px;
      height: 20px;
      border: 1px solid #ddd;
      background: url(../images/icon/icon_set.png) no-repeat -1px -1px;
    }
  }

  .sc-often{
    .sc-title{
    border: none;
    }
    .desc{
      .desc-list{
        padding: 17px 5px 7px 20px;
        background: #eff4f8;
        display: flex;
        flex-wrap: wrap;
        a{
          font-size: 15px;
          color:#333;
        }

        .desc-item{
        width: calc(50% - 10px);
        padding: 0 0 10px 10px;
        }

        .desc-item::before{
          content: '';
          display: inline-block;
          background: #666666;
          width: 2px;
          height: 2px;
          margin-bottom: 5px;
          margin-right: 7px;
        }
      }
    }
  }
}

.inner2>section{
  width: 360px;
}


.sc-theme{
  padding-top: 40px;
  .sc-title{
    padding: 0 0 20px 0;
  }

  .theme-list{
    display: flex;
    padding: 0 27px;
    margin-left: -59px;

    .theme-item{
      width: 85px;
      height: 145px;
      margin-left: 59px;
      display: inline-block;

      +.theme-item{
      margin-left: 59px;
      }

      .link-theme{
        text-align: center;
        display: inline-block;
        font-size: 16px;
        padding-top: 100px;
        width: 100%;
      }

      &.ic-house{
        background: url(../images/icon/icon_house.png) no-repeat;
      }

      &.ic-economy{
        background: url(../images/icon/icon_economy.png) no-repeat;
      }
      
      &.ic-traffic{
        background: url(../images/icon/icon_traffic.png) no-repeat;
      }
      
      &.ic-environment{
        background: url(../images/icon/icon_environment.png) no-repeat;
      }
      
      &.ic-welfare{
        background: url(../images/icon/icon_welfare.png) no-repeat;
      }
      
      &.ic-safety{
        background: url(../images/icon/icon_safety.png) no-repeat;
      }
      
      &.ic-cultrue{
        background: url(../images/icon/icon_culture.png) no-repeat;
      }
      
      &.ic-work{
        background: url(../images/icon/icon_work.png) no-repeat;
      }
    }
  }
}

.sc-news{
  position: relative;
  padding: 20px 0 30px;

  .sc-title{
    padding: 0 0 20px 0;
  }
  .news-list{
    display: flex;
    flex-wrap: wrap;

    .news-item{
      width: 273px;

      a{
        width: calc((100% - 10px) / 3);

        .img-box{
          position: relative;
          overflow: hidden;

          h3{
            width: 82px;
            height: 32px;
            font-weight: 700;
            color: #fff;
            text-align: center;
            line-height: 32px;
            display: block;
            position: absolute;
            top: 156px;
            left: 0;
          }
        }
        
        img{
          transition: 0.3s;
        }

        p{
          margin: 20px 0;
        }

        &:hover{
          .img-box{
            img{
              transform: scale(1.2);
            }
          }
        }
      }

      .welfare{
        background-color: #d76000;
      }

      .traffic{
        background-color: #028ab6;
      }

      .house{
        background-color: #599100;
      }

      .culture{
        background-color: #9b64d3;
      }

      +.news-item{
        margin-left: 20px;
      }

      +.news-item:nth-child(-n+4){
        margin-bottom: 20px;
      }
    }

    .news-item:nth-child(5){
      margin-left: 0;
    }
  }

  .all-view{
    position: absolute;
    top: 20px;
    right: 0;
    width: 75px;
    background: url(../images/icon/icon_set.png) no-repeat 0 -259px;
    font-size: 15px;
    color: #7d7d7d; 
  }
}

.inner3{
  display: flex;
  padding-bottom: 50px;
  border-bottom: 2px solid #222222;

  .sc-video{
    position: relative;
    width: 280px;
    .sc-title{
      padding-bottom: 20px;
    }

    figure{
      overflow: hidden;

      .img-box{
        width: 280px;
        height: 152px;
        background: url(../images/bg/image.jpg) no-repeat;
        transition: 0.3s;
      }

      figcaption{
        background-color: rgba(0,0,0,0.5);
        color:#fff;
        padding: 11px 20px;
        @include ellipsis;
        font-size: 16px;
        font-weight: 700;
        position: absolute;
        top: 150px;
        left: 0;
        width: 280px;
      }

      &:hover{
        .img-box{
          transform: scale(1.2);
        }
      }
    }
  }

  .sc-seoul-news{
    width: 480px;
    margin: 0 0 0 20px;

    .sc-title{
      padding-bottom: 20px;
    }

    .board-list{
      .board-item{
        padding: 8px 0;

        .link-box{
          display: flex;
          font-size: 16px;
          line-height: 1.35em;

          .theme{
            font-weight: 400;
            color: #09ac43;
            margin-right: 18px;
            flex-shrink: 0;
          }

          .text{
            @include ellipsis;
            color:#333;
          }
        }
      }
    }
  }

  .sc-sns{
    position: relative;
    margin-left: 22px;
    background: url(../images/bg/sns_list.gif) no-repeat;
    width: 350px;
    height: 194px;
    padding: 15px;

    .sc-title{
      position: absolute;
      z-index: 1;
      padding-right: 44px;
      font-size: 22px;
    }

    .sc-title::after{
      background: url(../images/icon/icon_sns.png) no-repeat -247px 0;;
      content: '';
      position: absolute;
      top: -2px;
      right: 0;
      display: inline-block;
      width: 34px;
      height: 24px;
      border-left: 1px solid #878787;
      padding-right: 6px;
    }

    .sns-list{
      display: flex;
      position: absolute;
      z-index: 1;
      top: 90px;
      left: 50%;
      width: 276px;
      height: 40px;
      margin-left: -138px;

      .sns{
        margin: 0 3px;
        display: inline-block;
        width: 40px;
        height: 40px;
        background: url(../images/icon/icon_sns.png) no-repeat;
      }

      .sns-instagram{
        background-position: 0 0;
      }

      .sns-facebook{
        background-position: -40px 0;
      }

      .sns-twitter{
        background-position: -80px 0;
      }

      .sns-blog{
        background-position: -120px 0;
      }

      .sns-youtube{
        background-position: -160px 0;
      }

      .sns-kakao{
        background-position: -200px 0;
      }
    }
  }
}

.sc-slide{
  padding: 50px 0;

  .swiper{
    .control-box{
      width: 100%;
      display: flex;
      justify-content: end;
      margin-top: 10px;
      height: 32px;

      a{
        width: 20px;
        height: 20px;
        border: 1px solid #999;
      }
      
      .fraction{
        width: auto;
        margin-right: 5px;
        margin-top: 1px;
      }

      .btn{
        background: url(../images/icon/icon_set_box.png) no-repeat;
        display: inline-block;

        &.prev{
          background-position: -45px -43px;
        }

        &.next{
          background-position: -86px -43px;
        }
      }

      .btn-play{
        .btn-stop{
          background: url(../images/icon/icon_set_box.png) no-repeat;
          background-position: -65px -43px;
          display: block;
        }

         .btn-start{
          background: url(../images/icon/icon_set_box.png) no-repeat;
          background-position: -101px -43px;
          display: none;
        }
      }
    }

    .swiper-slide{
      a{
        display: block;
      }
    }
  }



}

.sc-sitemap{
  margin-bottom: 20px;
  .sitemap-list{
    display: flex;
    position: relative;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;

    .sitemap-item{
      flex: 1;
      background: #f7f7f7;
      margin: 0 auto;
      text-align: center;
      border-left: 1px solid #d0d0d0;
      display: block;

      .btn-site{
        display: block;
        position: relative;
        padding: 16px 0;

        &.on{
          background: #ccc;
          &::after{
            transform: rotate(45deg);
            bottom:21px;
          }
        }
      }
    
      .btn-site::after{
        position: absolute;
        bottom: 17px;
        content: '';
        display: inline-block;
        height: 9px;
        width: 9px;
        border-style: solid;
        border-color: #373737;
        border-width: 0px 2px 2px 0px;
        transform: rotate(-135deg);
        margin-left: 10px;
        transition: 0.3s;
      }
    
      .site-sub{
        position: absolute;
        bottom: 50px;
        left: 0;
        z-index: 1;
        width: 100%;
        display: none;
        padding: 10px 20px 20px;
        background: #fff;
        border: 1px solid #d0d0d0;
        overflow: hidden;

        .site-item{
          float: left;
          width: 25%;
          margin-top: 10px;
          text-align: left;
        }
      }
    }

    .sitemap-item:last-child{
      border-right: 1px solid #d0d0d0;
    }
  }
}

.btn-top{
  background: url(../images/icon/btn_top.png) no-repeat;
  width: 34px;
  height: 34px;
  position: fixed;
  right: 126px;
  bottom: 98px;

  a{
    display: block;
  }
}